*, ul, li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-link {
  color: #fff;
}


header {
  height: 130px;
  background-color: black;
}
.header-box {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body>header>.header-box nav {
  margin-left: 100px;
}
.header-box nav li {
  margin-right: 80px;
}
.my-page {
  background-color:  #fff;
  color: black;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
}


.program {
  width: 1180px;
  margin: 240px auto;
}
.program>h3 {
  font-weight: bold;
  color: #BC2929;
}
.program-column__first {
  margin: 130px 0;
  width: 1180px;
  height: 430px;
  display: flex;
  justify-content: end;
}
.program-text {
  height: 260px;
}
.right-red {
  border-right: 3px solid #BC2929;
  padding-right: 100px;
  margin-left: 100px;
}
.left-red {
  border-left: 3px solid #BC2929;
  padding-left: 100px;
  margin-right: 100px;
}
.program-text h4{
  font-weight: bold;
}
.program-text p {
  margin: 40px 0;
}
.program-text a{
  color: black !important;
}

.program-column__second {
  display: flex;
}


.product {
  width: 1180px;
  height: 710px;
  margin: 0 auto;
}
.product>h3 {
  margin-bottom: 95px;
  font-weight: bold
}
.product-menu>a {;
  margin-left: 25px;
}
.on {
  color: #BC2929 !important;
  font-weight: bold;
}
.product-menu {
  display: flex;
  justify-content: end;
  margin: 0 180px 80px 0;
}
.product-img {
  margin-bottom: 45px;
  position: relative;
  overflow: hidden;
}
.product-img>a {
  display: block;
  width: 328px;
  float: left;
}
.product-img>a:last-child {
  position: absolute;
  left: 984px;
}
.product-arrow{
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
}
.product-arrow i {
  margin: 0 15px;
  color: #999;
}


.challenge {
  width: 1180px;
  height: 360px;
  margin: 250px auto;
  display: flex;
  justify-content: center;
}
.challenge-text {
  width: 50%;
  height: 100%;
  margin-right: 40px;
}
.challenge-text-title {
  height: 250px;
}
.challenge-text-title h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}
.challenge-text-title p {
  font-size: 20px;
}
.challenge-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.challenge-section-column:nth-child(2) {
  opacity: 0.5;
}
.challenge-section-column h4{
  font-size: 24px;
  font-weight: bold;
  color: #BC2929;
}
.challenge-section-column p {
  font-size: 18px;
}


.namecard {
  width: 1180px;
  margin: 0 auto 250px;
}
.namecard img {
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}


footer {
  width: 100%;
  height: 500px;
  background-color: #999;
}
.footer-wrap {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.footer-text {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
}
.fmenu {
  display: flex;
}
.fmenu  li {
  margin-right: 30px;
}
.footer-sns {
  margin-top: 80px;
}
.footer-sns img {
  width: 30px;
}
.footer-sns a {
  margin-left: 15px;
}


@media screen and (max-width: 480px) {
  .challenge {
    width: 1180px;
    height: 360px;
    margin: 250px auto 500px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .challenge-text {
    width: 100%;
    height: 100%;
    margin-right: 40px;
  }
  .challenge-text-title {
    height: 250px;
  }
  .challenge-text-title h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .challenge-text-title p {
    font-size: 22px;
  }
  .challenge-section {
    width: 100%;
    display: block;
  }
  .challenge-section-column {
    width: 50%;
    float: left;
    margin: 50px 0;
  }
  .challenge-section-column:nth-child(2) {
    opacity: 0.5;
  }
  .challenge-section-column h4{
    font-size: 28px;
    font-weight: bold;
    color: #BC2929;
  }
  .challenge-section-column p {
    font-size: 22px;
  }
  .challenge-img {
    display: none;
  }
}